<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="index.js"></script>
	<link rel="stylesheet" href="/css/mini-default.min.css"/>
</head>
<body>
	<div class="container col-sm-6" ng-app="app" ng-controller="Controller">
		<div class="row">
			<div class="col-sm-12">
				<h1>Send a message</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="input-group vertical">
					<label for="Content">Content:</label>
					<textarea rows="5" cols="40" ng-model="message.content"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<input type="button" class="primary" ng-click="send();" value="Send">
				<input type="button" class="primary" ng-click="clear();" value="Clear">
				<input type="button" class="primary" ng-click="list();" value="List">
				<input type="button" class="primary" ng-click="clearList();" value="Clear List">
			</div>
		</div>
	</div>
</body>